.h{
    padding: 0px 10px;
}
.textwatch{
    padding: 20px 65px;
    margin-bottom: 250px;
}
.a{
    display: flex;
    flex-direction: column;
    gap: 25px;
    line-height: 25px;
    margin-top: 30px;
}
.no{
    padding: 30px 0px;
}
.ab{
    display: flex;
    flex-direction: column;
    gap: 25px;
    line-height: 25px;
    margin-top: 40px;
}
.ab h1{
    font-weight: 400;
    font-size: xx-large;
}
.ab img{
    width: 100%;
    /* margin-left: 280px; */
}
.imgdoub {
    width: 500px;
}
.ab h2{
    margin-bottom: 15px;
}