.popup2 {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(7px);
}

.popup-content2 {
    background: #fff;
    padding: 10px 30px;
    border-radius: 10px;
    /* text-align: center; */
    box-shadow: 1px solid grey;
    animation: popupFade 0.3s ease;
    display: flex;
    flex-direction: column;
    /* gap: 10px; */
}
.popup-content2 p{
    font-size: 15px;
    text-decoration: underline;
}
.popup-both1{
    display: flex;
    justify-content: space-between;
    gap: 150px;
}

.checkmark {
    font-size: 50px;
    color: green;
    display: block;
    margin-bottom: 10px;
}

@keyframes popupFade {
    from {
        transform: scale(0.9);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}