.popup1 {
    display: flex;
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    /* background: rgba(0, 0, 0, 0.5); */
    z-index: 9999;
    justify-content: center;
    align-items: center;
  }
  
  .popup-content1 {
    background: #fff;
    padding: 30px 50px;
    border-radius: 10px;
    text-align: center;
    border: 2px solid rgba(4, 82, 4, 0.4);
    animation: popupFade 0.3s ease;
    /* box-shadow: 0 0 15px rgba(20, 139, 20, 0.4); */
    box-shadow: 0 0 15px green;
  }
  
  .checkmark {
    font-size: 50px;
    color: green;
    display: block;
    margin-bottom: 10px;
  }
  
  @keyframes popupFade {
    from {
      transform: scale(0.9);
      opacity: 0;
    }
    to {
      transform: scale(1);
      opacity: 1;
    }
  }