.popup {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(7px); 
    z-index: 9999;
    justify-content: center;
    align-items: center;
}

.popup-both {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.close-btn {
    font-size: 30px;
    cursor: pointer;
    border-radius: 30%;
}
.close-btn:hover{
    color: red;

}

.popup-content {
    background: #fff;
    width: 470px;
    height: 490px;
    padding: 18px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
    animation: popupFade 0.3s ease;
    box-shadow: 1px solid grey;
    overflow-y: scroll;
}
.popup-content p{
    font-size: 14px;
}
.popup-ul{
    margin: 0px 17px;
    font-size: 14px;
}

@keyframes popupFade {
    from {
        transform: scale(0.9);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}