.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    animation: fadeIn 0.1s ease-in-out;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
    pointer-events: none;
}

.overlay.open {
    opacity: 1;
    pointer-events: auto;
}

.overlay.closed {
    opacity: 0;
    pointer-events: none;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.cart {
    position: fixed;
    right: 0;
    top: 0;
    width: 485px;
    height: 100vh;
    background-color: white;
    z-index: 9999;
    animation: slideInRight 0.4s ease-in-out;
    transition: transform 0.4s ease-in-out;
    overflow-y: scroll;

}

@keyframes slideInRight {
    from {
        right: -500px;
    }

    to {
        right: 0;
    }
}

.cart.open {
    transform: translateX(0);
}

.cart.closed {
    transform: translateX(500px);
}


.cart-header {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    padding: 20px 35px;
    position: sticky;
}

.cart-header img {
    cursor: pointer;
}

.cart-header-img img {
    width: 40%;
    cursor: pointer;
}

.cart-header-img p {
    font-size: large;
    font-weight: 500;
    margin-top: 3px;
}

.croos {
    width: 6%;
    cursor: pointer;
}

.cart-header-img {
    display: flex;
    gap: 7px;
}

.cart hr {
    border: none;
    border-top: 1px solid #dfd9d9;
}

.cart-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 235px;
}

.cart-body button {
    background-color: black;
    color: white;
    border: none;
    padding: 18px 30px;
    border-radius: 7px;
    font-size: 1rem;
    font-weight: 650;
    cursor: pointer;
    width: 200px;
    margin-top: 30px;
    margin-bottom: 77px;
    letter-spacing: 1.5px;
    font-size: small;
}

.icons {
    cursor: pointer;
}

.cart-hide-body {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: center;
    padding: 17px;
}

.cart-head {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.cart-head h4{
    font-size: 14px;
    text-align: center;
}
.cart-head hr{
    height: 8px;
    border-radius: 20px;
    background-color: black;
    border: none;
    outline: none;
    width: 400px;
}

.cart-item {
    display: flex;
    /* justify-content: space-between; */
    padding: 15px;
    margin: 0px 25px ;
    margin-bottom: 10px;
}

.cart-item-img {
    display: flex;
    gap: 20px;
}

.cart-item-text {
    display: flex;
    flex-direction: column;
}
.cart-item-text p{
    font-size: small;
    color: #555;
    margin-bottom: 20px;
    margin-top: 15px;
}

.cart-item-img img {
    width: 27%;
    margin-top: 10px;
}
.right-quantity1 {
    /* margin-top: 15px; */
    display: flex;
    /* gap: 15px; */
    /* margin-bottom: 27px; */
}

.right-quantity1 span {
    border: 1px solid rgb(212, 209, 209);
    width: 120px;
    /* padding: 10px; */
    font-weight: bold;
    /* font-size: large; */
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    gap: 30px;
    border-radius: 7px;
}
