.you{
    position: relative;
}
.here {
    opacity: 1;
    cursor: pointer;
    transition: opacity 0.3s ease-in-out;
}

.here1 {
    width: 100%;
    object-fit: cover;
    padding: 20px;
    opacity: 0;
    position: absolute;
    left: 0px;
    cursor: pointer;
    transition: opacity 0.3s ease-in-out;
}

.you:hover .here1 {
    opacity: 1;
}

.you:hover .here {
    opacity: 0;
}