.other{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 190px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.other-icon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.other-icon img{
    width: 50px;
}
.other-icon span{
    font-size: .75rem;
    font-weight: bold;
    letter-spacing: 1.5px;
    color: #333;
}
.video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.video iframe{
    width: 1350px;
    height: 750px;
}

.launched{
    display: flex;
    padding: 10px;
    border-block: 1px solid rgba(0, 0, 0, .1);
    margin-top: 75px;
    margin-bottom: 20px;
    margin-left: 30px;
    margin-right: 30px;
    background-color: #f7f3f3;
    /* border-inline:0 ; */
    /* display: flex; */
    /* justify-content: space-around; */
    /* align-items: center; */
    /* gap: 800px; */
}
.launch{
    display: flex;
    gap: 50px;
}

.launch h2{
    font-weight: 600;
}
.twoo{
    display: flex;
    gap: 30px;
}
.twoo p{
    color: #777;
    font-size: .8rem;
    font-weight: 500;
    letter-spacing: 1px;
}
.view1{
    margin-top: 7px;
    font-size: .875rem;
    font-weight: 400;
    color: #6a5cfc;
    cursor: pointer;
}