.line{
    display: flex;
    height: 50px;
    /* padding: 10px; */
    border-block: 1px solid rgba(0, 0, 0, .1);
    margin-top: 50px;
    margin-bottom: 0px;
    margin-left: 30px;
    margin-right: 30px;
    background-color: #f7f3f3;
    border-inline:0 ;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 2.5rem;
}
.view{
    font-size: .875rem;
    font-weight: 400;
    color: #6a5cfc;
    cursor: pointer;
}