.visionvideo {
    width: 100%;
    height: 600px;
    object-fit: cover;
    position: relative;
    margin-bottom: 20px;
}

.visionimg {
    height: 82%;
    position: absolute;
    top: 147px;
    left: 430px;
    opacity: 0;
    animation: moveUp .5s ease-in-out forwards;
}

@keyframes moveUp {
    0% {
        top: 170px;
        opacity: 0;
    }

    100% {
        top: 147px;
        opacity: 1;
    }
}

.vision-section {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
    background: url('https://assets.codepen.io/16327/noise.png');
    padding-bottom: 40px;
}

.vision-section img {
    margin-top: 50px;
    width: 7%;
}

.vision-section h3 {
    width: 590px;
    font-weight: 400;
}

.vision-body {
    width: 100%;
    background: linear-gradient(135deg, #0f021b, rgb(59, 3, 59)), url('https://assets.codepen.io/16327/noise.png');
    background-blend-mode: color-dodge;
    display: flex;
    gap: 20px;
    padding: 30px;
}

.vision-body img {
    width: 23.9%;
}

/* .vision-body img.show {
    transform: translateY();
    opacity: 1;
}

@keyframes moveUp {
    0% {
        transform: translateY(200px);
        opacity: 0;
    }
    100% {
        transform: translateY(0); 
        opacity: 1;
    }
} */
