.container, .bg-0, .bg-1, .bg-2, .bg-3{
    height: 100%;
    width: 100%;
    padding: 30px;
}
.bg-0{
    background: linear-gradient(#e7ddd0  , #ffffff); }
.bg-1{
    background: linear-gradient(#1a202c , #ffffff);}
.bg-2{
    background: linear-gradient(#032710 , #ffffff);}
.bg-3{
    background: linear-gradient(#10002c, #ffffff);}
    
.images{
    position: relative;
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.slider-image{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity  ease-in-out;
}
.slider-image.active{
    opacity: 1;
}
.images img{
    width: 100%;
    border-radius: 20px;
}
