.buynow-body {
    display: flex;
    flex-direction: column;
    position: relative;
    height: auto !important;
}

.buynow-header {
    display: flex;
    flex-direction: column;
    gap: 23px;
    align-items: center;
    justify-content: center;
    margin-top: 20px;

}

.buynow-header img {
    width: 13%;
}

.buynow-header hr {
    width: 100%;
    border: none;
    border-top: 1px solid #dfd9d9;
}

.buynow-main {
    display: flex;
}

.buynow-main-left {
    width: 55%;
    padding-top: 60px;
    padding-left: 125px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.email {
    width: 580px;
    padding: 15px 10px;
    border: 1px solid #dad7d7;
    border-radius: 7px;
    font-size: small;
}

.checkbox {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 15px;
    margin-bottom: 35px;
}

.checkbox input {
    width: 19px;
    height: 19px;
    padding: 5px;
    border: 2px solid black;
}

.checkbox p {
    font-size: 14px;
    margin: 0;
    color: black;
}

.left-label label {
    display: block;
    position: relative;
    margin-top: 15px;
}

.left-label span {
    position: absolute;
    top: 17px;
    left: 12px;
    transform: translateY(-50%);
    font-size: 12px;
    color: #666464;
}

.country {
    width: 580px;
    height: 52px;
    border: 1px solid #dad7d7;
    padding: 7px;
    padding-top: 20px;
    border-radius: 7px;
    padding-right: 30px;
    font-size: 16px;
    background-color: transparent;
    position: relative;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 14px;
}

.left-name {
    width: 45.9%;
    padding: 15px 10px;
    border: 1px solid #dad7d7;
    border-radius: 7px;
    font-size: small;
    margin-right: 12px;
    color: black;
}


.adress {
    width: 580px;
    padding: 10px 10px;
    border: 2px solid rgb(212, 36, 36);
    border-radius: 7px;
    margin-top: 15px;
    margin-bottom: 5px;
    font-size: 15px;
}

.left-spaan {
    color: rgb(226, 30, 30);
    font-size: 14px;
    display: block;
    margin-bottom: 15px;
}

.phone {
    width: 580px;
    padding: 15px 10px;
    border: 1px solid #dad7d7;
    border-radius: 7px;
    font-size: small;
    margin-top: 15px;
}

.free-delivery-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F5F5F5;
    padding: 0.75rem 1rem;
    border: 1px solid black;
    border-radius: 8px;
    max-width: 580px;
    margin-top: 10px;
}

.free-delivery-label-wrapper p {
    font-size: small;
}


.free-delivery-price {
    font-size: 1rem;
    font-weight: 500;
    color: #333;
}

.payment-container {
    margin-top: 20px;
    width: 580px;
}

.payment-section {
    display: flex;
    flex-direction: column;
    /* gap: 1rem; */
    border: 1px solid black;
    border-radius: 10px;
    background-color: #F5F5F5;
}

.payment-option {
    display: flex;
    align-items: center;
    gap: 1rem;
    /* border: 1px solid black; */
    padding: 10px;
}

.payment-option1 {
    border-bottom: 1px solid black;
    padding: 15px 10px;
}

.radio-input {
    width: 18px;
    height: 18px;
    cursor: pointer;
}

.payment-text {
    font-size: small;
    font-weight: 500;
}

.card-icons-wrapper {
    display: flex;
    gap: 0.5rem;
    margin-left: 2rem;
    margin-top: 0.5rem;
    margin-left: 70px;
}

.card-icon {
    width: 38px;
    height: 24px;
}

.checkout-button {
    background-color: black;
    color: white;
    border: none;
    padding: 1rem 2rem;
    border-radius: 7px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    width: 580px;
    margin-top: 30px;
    margin-bottom: 77px;
}


.checkout-button-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.checkout-button-text {
    font-size: 1rem;
    font-weight: 600;
    color: white;
}

.payment {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 35px;
}

.payment p {
    font-size: small;
    color: #777;
}

/* .policy-inner {
    display: flex;
    flex-direction: column;
  } */

.policy-list {
    list-style: none;
    text-decoration: underline;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 5px;
    margin-bottom: 40px;
}
.policy-list li{
    cursor: pointer;
}

.policy-item {
    font-size: small;
}


.buynow-main-right {
    width: 45%;
    height: 100vh;
    background-color: #F5F5F5;
    position: sticky;
    top: 0;
}

.product-row {
    display: flex;
    padding: 0px 30px;
    padding-top: 45px;
    margin-right: 90px;
}

.product-cell {
    padding: 0 5px;
    display: flex;
    align-items: center;
}

.product-image {
    width: 64px;
    height: 64px;
    object-fit: cover;
    border-radius: 7px;
    border: 1px solid rgb(216, 213, 213);
    background-color: rgb(230, 228, 228);
    position: relative;
}

.product-quantity {
    width: 23px;
    height: 23px;
    text-align: center;
    padding-top: 1px;
    color: white;
    background-color: rgb(109, 106, 106);
    border: 1px solid rgb(121, 119, 119);
    border-radius: 50%;
    position: absolute;
    z-index: 100;
    font-size: small;
    font-weight: 500;
    left: 80px;
    top: 35px;
}

.product-title {
    font-size: small;
    font-weight: 500;
}

.product-color-name {
    font-size: small;
    color: #777;
}

.product-color {
    font-size: 14px;
    color: #666;
    margin: 0;
}

.price-cell {
    flex: 1;
    justify-content: flex-end;
}

.discount-code-wrapper {
    width: 100%;
    display: flex;
    padding: 18px 35px;
}

.discount-wrapper {
    display: grid;
    grid-template-columns: 1fr minmax(auto, max-content);
    gap: 1rem;
    align-items: end;
}


.discount-input {
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 6px;
    border: 1px solid #ccc;
    width: 370px;
    height: 48px;
}

.apply-button {
    background-color: #f0eeee;
    border: 1px solid rgb(226, 223, 223);
    padding: 0.75rem;
    font-size: 1rem;
    border-radius: 6px;
    cursor: pointer;
}
.apply-button:hover{
    background-color: black;
    .apply-button-text{
        color: white;
    }
}
.formsubmitted{
    display: flex;
    gap: 15px;
}
.apply-button-text {
    font-weight: bold;
    color: grey;
    font-size: small;
}
.subtotals{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 10px 40px;
    margin-right: 85px ;
}
.subtotals-price, .subtotals-shipping, .subtotals-total{
    display: flex;
    justify-content: space-between;
}
.subtotals-price p, .subtotals-shipping p{
    font-weight: 400;
}
.subtotals-total p{
    font-size: large;
    font-weight: bold;
}
