.padd {
    padding: 25px;
    /* margin-top: 70px; */
}

.showitem {
    display: flex;
    gap: 260px;
}

.showitem-left {
    width: 40vw;
    display: flex;
    flex-direction: column;
}

.left-image {
    margin-left: 10px;
    display: flex;
    gap: 100px;
    overflow: hidden;
    position: relative;
}

.left-image img {
    width: 100%;
    margin-top: 20px;
}

.slider-track {
    display: flex;
    transition: transform 0.8s ease-in-out;
}

.slide {
    width: 100%;
    flex-shrink: 0;
}

.bottom-images {
    margin-left: 10px;
    margin-top: 20px;
    display: flex;
    gap: 10px;
}

.bottom-images img {
    width: 15%;
}

.thumbnail {
    object-fit: cover;
    cursor: pointer;
    /* transition: 0.3s; */
    border: 2px solid transparent;
}

.thumbnail.active {
    border: 2px solid black;
    border-radius: 10px;
    padding: 2px;
    transform: scale(1.1);
}

.showitem-right {
    margin-top: 30px;
    padding-right: 50px;
    width: 40vw;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.right-thumbnail {
    cursor: pointer;
    padding: 10px;
}

.right-thumbnail.active {
    border: 2px solid rgb(209, 206, 206);
    background-color: #dfdfdf;
    border-radius: 5px;
}

.toop {
    display: flex;
    justify-content: space-between;
    gap: 100px;
    font-size: medium;
}

.toop p {
    color: rgb(223, 84, 223);
}

.spaan {
    display: flex;
    justify-content: space-evenly;
}

.spaan img {
    width: 7%;
}

.spaan span {
    font-size: small;
}

.showitem-right h1 {
    margin-top: 18px;
}

.pp {
    color: #9e9e9e;
    margin-bottom: 10px;
}

.right-text {
    height: 40px;
    width: 470px;
    background: url("https://cdn.shopify.com/s/files/1/0722/8106/3702/files/bg-green.png?v=1741342361");
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    padding: 15px;
    margin-top: 10px;
    position: relative;
    overflow: hidden;
}

.right-text p {
    color: white;
    font-weight: 500;
}

.right-text h4 {
    color: white;
    font-weight: 500;
}

@keyframes inblur {
    0% {
        transform: translate(-50px, -50px) rotate(45deg);
    }

    100% {
        transform: translate(1000px, 40px) rotate(45deg);
    }
}

.right-text::after {
    content: "";
    width: 35px;
    height: 200px;
    position: absolute;
    top: 0;
    background: white;
    opacity: 0.6;
    filter: blur(15px);
    animation: inblur 2s linear infinite;
    transform-origin: top;
}
.right-imgs {
    display: flex;
    margin-top: 5px;
}

.right-imgs img {
    width: 20%;
}

.ptag {
    margin-top: 10px;
}

.hrr {
    border: none;
    border-top: 1px solid #d1cdcd;
    margin-top: 27px;
}

.right-quantity {
    margin-top: 25px;
    display: flex;
    gap: 15px;
    margin-bottom: 27px;
}

.right-quantity p {
    font-weight: 500;
    color: #9e9e9e;
    margin-top: 10px;
}

.right-quantity span {
    border: 1px solid rgb(201, 191, 191);
    width: 170px;
    padding: 10px;
    font-weight: bold;
    font-size: large;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    border-radius: 5px;
}

.btno {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.btno .btno1 {
    width: 450px;
    font-weight: 600;
    border: 1px solid #000;
    background: black;
    color: white;
    border-radius: 71px;
    order: 2;
    padding: 14px 20px;
    cursor: pointer;
    font-size: 16px;
}

.btno .btno2 {
    width: 450px;
    font-weight: 600;
    border: 1px solid #000;
    background: transparent;
    color: black;
    border-radius: 71px;
    order: 2;
    padding: 14px 20px;
    cursor: pointer;
    font-size: 16px;
}
.minus{
    cursor: pointer;
    font-size: 20px;
}
.plus{
    cursor: pointer;
    font-size: 20px;
}