.watchshow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 99%;
    /* margin-bottom: 80px; */
}

.bothh {
    display: flex;
    flex-direction: column;
}

.watchshow2 {
    display: flex;
    flex-direction: column;
}

.watchshow22 {
    display: flex;
    justify-content: space-around;
    padding: 4.5px;
    gap: 100px;
}

.watchshow22 p img {
    padding-top: 10px;
}

.watchshow1 img {
    width: 100%;
}

.watchimg {
    width: 350px;
}

.border {
    border: 1px solid rgb(204, 201, 201);
    border-right: none;
}
.doubleshow{
    display: flex;
}
.watchh img{
    width: 100%;
}
.watchh {
    width: 703px;
}
.alpha h1{
    font-size: 60px;
}
.alpha {
    text-align: center;
}
.double{
    margin-top: 75px;
}
.beta{
    width: 500px;
    text-align: center;
}
.gama{
    text-align: center;
}
.doubletext{
    /* width: 45%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding-left: 55px;
}
.bor{
    border: 1px solid rgb(204, 201, 201);
    border-top: none;
}
.bor1{
    border: 1px solid rgb(204, 201, 201);
    border-top: none;
    border-left: none;
    border-right: none;
}
.input-row {
    display: flex;
    gap: 15px;
}
.input__field {
    padding: 10px 60px;
    border: 1px solid #ccc;
    border-radius: 4px;
    flex: 1;
    text-align: start;
    font-size: large;
    color: black;
}
.button {
    padding: 15px 30px;
    background:  black;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: medium;
    letter-spacing: 2px;
    font-weight: bold;
}