.product-item {
    height: 475px;
    width: 305px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid rgb(226, 220, 220);
}

.show {
    z-index: 1;
    position: absolute;
}

.show p {
    color: rgb(223, 84, 223);
}

.imge {
    background-color: rgb(248, 246, 246);
    object-fit: cover;
}

.here {
    width: 100%;
    object-fit: cover;
    padding: 20px;
}
.head {
    display: flex;
    justify-content: space-around;
    font-size: small;
}

.head h2 {
    font-size: large;
}

.head p {
    height: 20px;
    background-color: rgb(199, 18, 18);
    outline: none;
    border: none;
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: .8rem;
    padding: 0px 5px;
    letter-spacing: .7px;
}

.both {
    display: flex;
    justify-content: space-around;
    gap: 90px;
}
.both button{
    cursor: pointer;
}

.p p {
    padding: 0px 7px;
    color: #777;
}

.color {
    display: flex;
    gap: 10px;
    padding: 0px 10px;
}

.dott {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid #eee;
    cursor: pointer;
}
.selected{
    box-shadow: 0 0 0 2px  black;
}
.both button {
    background-color: black;
    color: white;
    border: none;
    padding: 12px 15px;
    border-radius: 80%;
    font-weight: bold;
    cursor: pointer;
    border-radius: 20px;
    margin-bottom: 20px;
}

.both p {
    margin-top: 5px;
}

.span img {
    width: 30%;
    margin-top: 0;
}

.show {
    display: flex;
    gap: 145px;
    padding: 7px 10px;
    font-size: medium;
}

.span {
    display: flex;
    gap: 5px;
}

.span span {
    font-size: medium;
}

/* .here {
    opacity: 1;
    position: relative;
    cursor: pointer;
    transition: opacity 0.3s ease-in-out;
}

.here1 {
    width: 25%;
    object-fit: cover;
    padding: 30px;
    opacity: 0;
    position: absolute;
    left: 30px;
    cursor: pointer;
    transition: opacity 0.3s ease-in-out;
}

.you:hover .here1 {
    opacity: 1;
}

.you:hover .here {
    opacity: 0;
} */