.watchshow{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 99%;
  /* margin-bottom: 80px; */
}
.watchshow img{
  cursor: pointer;
}
.bothh{
  display: flex;
  flex-direction: column;
}
.watchshow2{
  display: flex;
  flex-direction: column;
}
.watchshow22{
  display: flex;
  justify-content: space-around;
  padding: 4.5px;
  gap: 100px;
}
.watchshow22 p img{
  padding-top: 10px;
}
.watchshow1 img{
  width: 100%;
}
.watchimg {
  width: 350px;
}
.border{
  border: 1px solid rgb(204, 201, 201);
  border-right: none;
}